<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{stocks}}
  </div>
</div>


   
    <title>{{title}}</title>

    <p>{{stocks}}</p>




<body>

<p>{{stocks}}</p>

<ul>
{{#each stocks}}
  
{{/each}}
</ul>
</body>



